.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 80vh;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
