.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > input {
  width: 180px;
  height: 25px;
  padding: 10px 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.login-container > button {
  font-weight: 700;
  background: #333;
  color: white;
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
  padding: 4px 0;
}

.login-container > button:hover {
  font-weight: 700;
  background: #222;
  color: white;
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
  padding: 4px 0;
}
