.users-page {
  margin-bottom: auto;
  width: 700px;
}

.add-user-btn {
  background: rgb(10, 156, 46);
  width: 100px;
  height: 40px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.user-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  padding: 10px 15px;
  background: white;
  border-radius: 4px;
}

.user-name {
  margin-right: auto;
  font-weight: 600;
  font-size: 1.5em;
}

.edit-user-btn,
.delete-user-btn {
  margin-right: 10px;
  height: 30px;
  width: 60px;
  font-weight: 700;
  color: #333;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.edit-user-btn {
  background: rgb(218, 218, 218);
}

.delete-user-btn {
  background: rgb(180, 39, 39);
  color: white;
}
